global:
  {{ victoriametrics_vmagent_global | to_nice_yaml(indent=2) | indent(2, False) }}
{% if victoriametrics_vmagent_external_labels is defined %}
  external_labels: 
    {{ victoriametrics_vmagent_external_labels | to_nice_yaml(indent=2) | indent(4, False) }}
{% endif %}

scrape_configs:
  {{ victoriametrics_vmagent_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}
