{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmagent
After=network.target

[Service]
Type=simple
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}
{% if victoriametrics_vmagent_config_mode == "env" %}
Environment="promscrape_config=/etc/vmagent.yml"
Environment="remoteWrite_tmpDataPath={{ victoriametrics_vmagent_remotewrite_tmpdatapath }}"
Environment="remoteWrite_url={{ victoriametrics_vmagent_remotewrite_url }}"
{% for name, value in victoriametrics_vmagent_envs %}
Environment={{ name }}:{{ value }}
{% endfor %}
ExecStart=/usr/local/bin/vmagent -envflag.enable \
{% for flag, flag_value in victoriametrics_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
{% endif %}

{% if victoriametrics_vmagent_config_mode == "args" %}
ExecStart=/usr/local/bin/vmagent \
  -promscrape.config=/etc/vmagent.yml \
{% for flag, flag_value in victoriametrics_vmagent_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
  -remoteWrite.tmpDataPath={{ victoriametrics_vmagent_remotewrite_tmpdatapath }} \
  -remoteWrite.url={{ victoriametrics_vmagent_remotewrite_url }}
{% endif %}

SyslogIdentifier=vmagent
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target
