{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmalert
After=network.target

[Service]
Type=simple
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}

{% if victoriametrics_vmalert_config_mode == "env" %}
Environment="rule=/etc/vmalert.yml"
Environment="datasource_url={{ victoriametrics_vmalert_datasource_url }}"
Environment="notifier_url={{ victoriametrics_vmalert_notifier_url }}"
Environment="remoteWrite_url={{ victoriametrics_vmalert_remotewrite_url }}"
Environment="remoteRead_url={{ victoriametrics_vmalert_remoteread_url }}"
{% for env, env_value in victoriametrics_vmalert_envs.items() %}
Environment="{{ env }}={{ env_value }}"
{% endfor %}
ExecStart=/usr/local/bin/vmalert -envflag.enable \
{% for flag, flag_value in victoriametrics_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
{% endif %}

{% if victoriametrics_vmalert_config_mode == "args" %}
ExecStart=/usr/local/bin/vmalert \
  -rule=/etc/vmalert.yml \
  -datasource.url={{ victoriametrics_vmalert_datasource_url }} \
{% if victoriametrics_vmalert_remotewrite_url -%}
  -remoteWrite.url={{ victoriametrics_vmalert_remotewrite_url }} \
{% endif -%}
{% if victoriametrics_vmalert_remoteread_url -%}
  -remoteRead.url={{ victoriametrics_vmalert_remoteread_url }} \
{% endif -%}
{% for flag, flag_value in victoriametrics_vmalert_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
  -notifier.url={{ victoriametrics_vmalert_notifier_url }}
{% endif %}

SyslogIdentifier=vmalert
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target
