{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmauth
After=network.target

[Service]
Type=simple
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}

{% if victoriametrics_vmauth_config_mode == "env" %}
Environment="auth_config=/etc/vmauth.yml"
{% for name, value in victoriametrics_vmauth_envs %}
Environment={{ name }}:{{ value }}
{% endfor %}
ExecStart=/usr/local/bin/vmauth -envflag.enable \
{% for flag, flag_value in victoriametrics_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
{% endif %}

{% if victoriametrics_vmauth_config_mode == "args" %}
ExecStart=/usr/local/bin/vmauth \
  -auth.config=/etc/vmauth.yml
{% for flag, flag_value in victoriametrics_vmauth_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
{% endif %}

SyslogIdentifier=vmauth
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target
