{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmselect service
After=network.target

[Service]
Type=simple
User={{ victoriametrics_cluster_user }}
Group={{ victoriametrics_cluster_group }}
ExecStart=/usr/local/bin/vmselect \
{% for storage_node in victoriametrics_cluster_vmselect_storage_node %}
  -storageNode={{ storage_node }} \
{% endfor %}
{% for flag, flag_value in victoriametrics_cluster_vmselect_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
  -httpListenAddr={{ victoriametrics_cluster_vmselect_http_listen_addr }}

SyslogIdentifier=vmselect
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
