{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmstorage service
After=network.target

[Service]
Type=simple
User={{ victoriametrics_cluster_user }}
Group={{ victoriametrics_cluster_group }}
ExecStart=/usr/local/bin/vmstorage \
  -retentionPeriod={{ victoriametrics_cluster_vmstorage_retention_period }} \
  -storageDataPath={{ victoriametrics_cluster_vmstorage_storage_data_path }} \
  -httpListenAddr={{ victoriametrics_cluster_vmstorage_http_listen_addr }} \
{% for flag, flag_value in victoriametrics_cluster_vmstorage_args.items() -%}
  -{{ flag }}={{ flag_value }} \
{% endfor %}
  -vminsertAddr={{ victoriametrics_cluster_vmstorage_vminsert_addr }} \
  -vmselectAddr={{ victoriametrics_cluster_vmstorage_vmselect_addr }}

SyslogIdentifier=vmstorage
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
