{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmestimator selector
After=network.target

[Service]
Type=simple
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}
{% if victoriametrics_vmestimator_cluster_selector_config_mode == "env" %}
Environment="storageNode={{ victoriametrics_vmestimator_cluster_selector_storage_nodes | join(',') }}"
Environment="httpListenAddr={{ victoriametrics_vmestimator_cluster_selector_http_listen_addr }}"
{% for env, env_value in victoriametrics_vmestimator_cluster_selector_envs.items() %}
Environment="{{ env }}={{ env_value }}"
{% endfor %}
ExecStart=/usr/local/bin/vmestimator -envflag.enable{% for flag, flag_value in victoriametrics_vmestimator_cluster_selector_args.items() %} -{{ flag }}={{ flag_value }}{% endfor %}
{% endif %}

{% if victoriametrics_vmestimator_cluster_selector_config_mode == "args" %}
ExecStart=/usr/local/bin/vmestimator{% for storage_node in victoriametrics_vmestimator_cluster_selector_storage_nodes %} -storageNode={{ storage_node }}{% endfor %} -httpListenAddr={{ victoriametrics_vmestimator_cluster_selector_http_listen_addr }}{% for flag, flag_value in victoriametrics_vmestimator_cluster_selector_args.items() %} -{{ flag }}={{ flag_value }}{% endfor %}
{% endif %}

SyslogIdentifier=vmestimator
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
