{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics vmestimator storage
After=network.target

[Service]
Type=simple
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}
{% if victoriametrics_vmestimator_cluster_storage_config_mode == "env" %}
Environment="config=/etc/vmestimator/streams.yaml"
Environment="httpListenAddr={{ victoriametrics_vmestimator_cluster_storage_http_listen_addr }}"
Environment="cardinalityMetrics.exposeAt={{ victoriametrics_vmestimator_cluster_storage_cardinality_metrics_expose_at }}"
{% for env, env_value in victoriametrics_vmestimator_cluster_storage_envs.items() %}
Environment="{{ env }}={{ env_value }}"
{% endfor %}
ExecStart=/usr/local/bin/vmestimator -envflag.enable{% for flag, flag_value in victoriametrics_vmestimator_cluster_storage_args.items() %} -{{ flag }}={{ flag_value }}{% endfor %}
{% endif %}

{% if victoriametrics_vmestimator_cluster_storage_config_mode == "args" %}
ExecStart=/usr/local/bin/vmestimator -config=/etc/vmestimator/streams.yaml -httpListenAddr={{ victoriametrics_vmestimator_cluster_storage_http_listen_addr }} -cardinalityMetrics.exposeAt={{ victoriametrics_vmestimator_cluster_storage_cardinality_metrics_expose_at }}{% for flag, flag_value in victoriametrics_vmestimator_cluster_storage_args.items() %} -{{ flag }}={{ flag_value }}{% endfor %}
{% endif %}

SyslogIdentifier=vmestimator
Restart=always
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=full
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
